<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <p>Environmental</p>
        <p>Educational</p>
        <p>Community Service</p>
        <p>Health and Wellness</p>
    </main>
<%- include('partials/footer') %>